$maincolor: rgba(190, 156, 106, 1);
$maincolorsemi: rgba(190, 156, 106, 0.5);
$maincolorsmall: rgba(190, 156, 106, 0.25);
$mainempty: rgba(190, 156, 106, 0);
$white: rgba(255, 255, 255, 1);
$whitesemi: rgba(255, 255, 255, 0.3);
$whiteempty: rgba(255, 255, 255, 0);
$black: rgba(0, 0, 0, 1);
$blacksemi: rgba(0, 0, 0, 0.5);